@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 216px;
}

a{
    text-decoration: none;
}

.button-links{
    background-color: rgb(146, 0, 0);
    color: white;
    border: 0px;
    height: 60px;
    width: 100%;
}

.button-links:hover{
    cursor: pointer;
    background-color: rgb(255, 18, 18);
}

.button-links .acesse{
    text-align: center;
}