.phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone #image-phone{
    position: relative;
    height: 500px;
    width: 250px;
}

.phone__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone__content .tela-do-celular{
    height: 380px;
    max-width: 216px;
}

.sidebar-navigation{
    text-align: right;
    margin-right: 50px;
}

.social-media-buttons{
    background-color: transparent;
    border: 0px;
    margin: 10px 10px 60px 0px;
}

.social-media-buttons img{
    position: fixed;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.411);
}

.social-media-buttons img:hover{
    border: 1px solid white;
    transition: transform 1s, border 1s;
    transform: translate(-7%, -7%);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.459);
}