.phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone img{
    height: 500px;
}

.phone__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone__content .tela-do-celular{
    height: 380px;
    width: 216px;
}

#section-base-social-medias{
    
}

.sidebar-navigation{
    text-align: right;
    margin-right: 50px;
}

.social-media-buttons{
    background-color: transparent;
    border: 0px;
    margin: 10px 10px 60px 0px;
}

.social-media-buttons img{
    position: fixed;
    width: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px 0px black;
}

.social-media-buttons img:hover{
    border: 1px solid white;
    transition: 1s;
    transform: translate(-7%, -7%);
}